# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Video output files from tests
*.mp4
*.avi
*.mov
*.webm
*.mkv

# Audio output files from tests
*.wav
*.mp3
*.flac
*.aac